.forgotpassword__auth-panel {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 7.5rem;
  margin-top: 6.5rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.forgotpassword__auth-heading {
  margin-bottom: 20px;
  text-align: center;
}

.forgotpassword__auth-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.forgotpassword__forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgotpassword__form-group {
  margin-bottom: 15px;
}

.forgotpassword__input-wrapper {
  position: relative;
}

.forgotpassword__input-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgotpassword__input-focus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.forgotpassword__link-toggle {
  display: block;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.forgotpassword__link-toggle:hover {
  text-decoration: underline;

}
