.custom-navbar {
  background-color: #343a40;
}

.custom-blue {
  background-color: #2269B2 !important;
}

.custom-text {
  color: white !important;
}

.custom-text:hover {
  color: #f8f9fa !important;
}

.logo {
  color: white !important;
}

.logo i {
  color: white !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: white;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  bottom: -8px;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  padding: 10px;
  display: none;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.dropdown-item {
  padding: 5px 10px;
  text-decoration: none;
  color: #007bff;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.dropdown-menu-start {
  left: 0;
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block; 
  opacity: 1; 
  visibility: visible; 
  transition-delay: 0s; 
}

.dropdown-menu.show {
  display: block; 
}

.nav-item.dropdown .dropdown-menu-start {
  left: 100%; 
  margin-left: 0.5rem; 
}

.nav-item.dropdown .dropdown-menu-end {
  right: 0; 
}

@media (max-width: 768px) {
  .dropdown-menu {
    position: static; 
    width: 100%; 
  }
}